body {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f4f4f4;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
}

.thank-you {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  width: fit-content;
  padding: 20px;
}

.thank-you-for-order {
  justify-content: center;
  text-transform: uppercase;
}

.cars img {
  width: 300px;
  height: auto;
  align-items: right;
  margin-left: 50px;
  margin-right: 50px;
}

.cars button {
  height: 60px;
  width: 150px;
  background-color: #003c43;
  border: 1px solid #003c43;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

#carList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
  height: auto;
}

.carItem {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  margin: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.carItem:hover {
  background-color: #f9f9f9;
}

.first-btn {
  align-items: center;
  justify-content: center;
}

#configForm {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

input {
  margin: 10px;
  height: 30px;
}

.delivery {
  height: 30px;
}

.next-btn {
  display: flex;
  flex-direction: column;
  margin: 35px;
  padding: 20px;
}

.next-btn button {
  margin: 10px;
  height: 40px;
  font-family: "Farro", sans-serif;
}

#order {
  background-color: #003c43;
  border: 1px solid #003c43;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family: "Farro", sans-serif;
}

#go-back {
  background-color: whi;
  border: none;
  cursor: pointer;
  color: #003c43;
  font-size: 18px;
  font-family: "Farro", sans-serif;
}

.add-remove-btn {
  height: 50px;
  width: 150px;
  background-color: white;
  color: #003c43;
  font-family: "Farro", sans-serif;
  border: none;
  cursor: pointer;
}

.accessories {
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 300px;
  font-family: "Farro", sans-serif;
  padding: 10px;
}

#selectedCarModel,
#selectedCarPrice {
  margin: 0;
}

.hint {
  font-size: 12px;
  color: #666;
}

#accessory-list {
  list-style-type: none;
}

form h2 {
  font-size: 24px;
  padding: 0;
  font-family: "Farro", sans-serif;
}

.thank-you {
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: top;
  align-items: top;
  font-size: 24px;
}
